
@{
    Layout = "_LayoutIES";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro404</title>
</head>
<body>
    <div class="main">
        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Erro 404</font></font></h1>
        <div class="panel_grey">
            <div class="top">
                <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oh Não! </font><font style="vertical-align: inherit;">Verifique sua URL</font></font></h3>
            </div>
            <img src="~/images/404.jpg">
        </div>
    </div>
</body>
</html>
